body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

a.active {
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a + a {
  margin-left: 10px;
}

html,
body {
  margin: 0;
  padding: 10px;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

button,
input[type='checkbox'] {
  outline: none;
}
